doctype html
html
	head
		meta(charset="UTF-8")
		title Hola PHP Laravel	
	body
		<?= $message = 'Hola mundos template ' ?>
		<?php echo $message; ?>
		section
			article Hola mundo
			article Hola Mundo php laravel